<div class="startInstruction"><br><br>
    <div align="center"><h2>Instructions</h2></div>
    <br>
    <ol>
    <li>
      The exam consists of 3 level with 10 mcq's in each level.
    </li>
    <li>
      The difficulty of the questions increases with the increase in level.
    </li>
    <li>
      There is a minimum cut off for each level. Only if you score marks above the cut off marks you will be able to attend the next level.
    </li>
    <li>
      A report card will be generated after the completion of each level.
    </li>
    <li>
      In case you have not cleared a particular level, you can logout after viewing your reports.
    </li>
  </ol>
    <br>
    <h3 class="instructions" align="center">All the best !</h3><br/>
    <div class="text-center">
        <button class="btn btn-lg btn-outline-light" [routerLink]="['../level']"><span>Start Exam </span></button>
    </div>
    <br/>
  </div>