<div class="row"style="background-color: #404997; border-radius: 6mm;">
  <div class="col-6 m-auto p-5">
  <div class="card m-auto p-5"style="border-radius: 10mm;">
    <div class="card-header" align="center" 
    style="background-color: #76b7e6;border-radius: 8mm;">
      <h3> Admin Profile</h3>
    </div>
    <br/>
  <button class="btn btn-outline-dark" routerLink="/admin/add-questions">Add Questions</button>
  <br/><button class="btn btn-outline-dark" routerLink="/admin/remove-questions">Remove Questions</button>
  <br/><button class="btn btn-outline-dark" routerLink="/admin/view-reports">View Reports</button>
</div>
</div>
