.icon {
    padding: 10px;
    min-width: 40px;
}



/* .loginPage{
    height: 400px;
   width: 100%;
    background-image: 
    url("../../../assets/image/loginImg.jpg");
    background-size: contain;
    background-repeat: no-repeat, no-repeat;
    background-position: left;
} */


